<div class="footer">
  <div class="m-4 card-group">
      <div class="card">
        <div class="text-center card-body">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="text-white card">
        <div class="text-center card-body">
        <h3>AROUND THE WEB</h3>
          <div class="icons ">
            <i class="mx-1 fa-brands fa-facebook icon"></i>
            <i class="mx-1 fa-brands fa-twitter icon"></i>
            <i class="mx-1 fa-brands fa-linkedin-in icon"></i>
            <i class="mx-1 fa-solid fa-globe icon"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="text-center card-body">
          <h3>ABOUT FREELANCER</h3>
          <p> Freelance is a free to use, licensed Bootstrap theme created by Route </p>
        </div>
      </div>
  </div>
</div>

<!-- jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
<div class="p">
      <p>Copyright © Your Website 2021</p>
</div>