<div  class="text-white main home d-flex justify-content-center align-items-center bg-danger1">
    <div  class="text-center bg-info1">
        <img  src="assets/img/avataaars.svg" alt="" class="mb-3 w-100">

            <div  class="pt-4 text-center" style="color: white;">
                <h2  class="mb-3 text-uppercase fs-1 fw-bolder">start Framework</h2>
                <div  class="mb-3 d-flex align-items-center justify-content-center">
                    <div  class="line me-3" style="background-color: white;"></div>
                    <i  class="fa-solid fa-star"></i>
                    <div  class="line ms-3" style="background-color: white;"></div>
                </div>
            </div>

        <div class="pb-5" >Graphic Artist - Web Designer - Illustrator</div>
    </div>
</div>
